 div.circles {
	width:100%;
	 margin:auto;
	  max-width:1000px;
	 display:none;
	 svg {
	   width: 90%;
	   padding: 10px;
	   margin:auto 5% !important;
	 
	   .lineCol { 
		 fill: $hgyb_accent;
	 
		 &.line1,
		 &.line2, 
		 &.line3,
		 &.line4,
		 &.line5 {
		   display: none;
		 }
	   }
	   .textCol {
		 fill: $hgyb_main;
	 
		 &.textcirc1,
		 &.textcirc2,
		 &.textcirc3,
		 &.textcirc4,
		 &.textcirc5,
		 &.textcirc6 {
		 display:none;
		 }
	   }
	   .circleCol {
		 
		 &.circ1,
		 &.circ2,
		 &.circ3,
		 &.circ4,
		 &.circ5,  
		 &.circ6 {
		   fill: #FFF;
		   display: none;
		 }
		 
	   }
	 }
	 
	 @media only screen and (min-width:600px) {
		   display:block;
	   }
 } 
 
 div.smallcircles {
	 display:block;
	 width:100%;
	 margin:auto;
	  max-width:400px;
	  svg {
		width: 90%;
		padding: 10px;
		margin:auto 5% !important;
	  
		.lineCol { 
		  fill: $hgyb_accent;
	  
		  &.line1,
		  &.line2, 
		  &.line3,
		  &.line4,
		  &.line5 {
			display: none;
		  }
		}
		.textCol {
		  fill: $hgyb_main;
	  
		  &.textcirc1,
		  &.textcirc2,
		  &.textcirc3,
		  &.textcirc4,
		  &.textcirc5,
		  &.textcirc6 {
		  display:none;
		  }
		}
		.circleCol {
		  
		  &.circ1,
		  &.circ2,
		  &.circ3,
		  &.circ4,
		  &.circ5,  
		  &.circ6 {
			fill: #FFF;
			display: none;
		  }
		  
		}
	  }
	  
	  @media only screen and (min-width:600px) {
		  display:none;
	  }
  } 