.hexcalltoaction {
	p {
		text-align:left;
		color:#FFF;
		font-family: 'Gabriela';
		font-weight: normal;
		font-style: normal;
		line-height:1.4;
		font-size:16px;
		max-width:800px;
		margin:auto auto 40px 0;
		word-break: break-word;
		
		a {
			color:#FFF;
			text-decoration:none;
			
			
			&:hover, &:focus {
				color:$hgyb_accent;
			}
		}
		
		@media only screen and (min-width:400px) {
			font-size:18px;
			word-break: normal;
		}
		@media only screen and (min-width:600px) {
			font-size:22px;
		}
		@media only screen and (min-width:700px) {
			font-size:24px;
		}
		@media only screen and (min-width:1000px) {
			font-size:26px;
		}
	}
	
	.linkarea {
	position:relative;
	margin:20px auto 0 0;
	width:100%;
	padding-top:20px;
	.calltoaction {
		@include hygb_button (transparent, $hgyb_accent,#FFF,$hgyb_accent,$hgyb_accent,$hgyb_main);
		
		left: 0%;
		 transform: translateX(0%);
	}
	}
}




.modal-wrapper{
  width:100%;
  height:0px;
  position:fixed;
  top:0; left:0;
  background:rgba(255,255,255,0.75);
  visibility:hidden;
  opacity:0;
  -webkit-transition: visibility 0.25s ease-in-out;
  -moz-transition: visibility 0.25s ease-in-out;
  -o-transition: visibility 0.25s ease-in-out;
  transition: visibility 0.25s ease-in-out;
 
  
  backdrop-filter: blur(10px);


	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;


.modal{
  max-width:450px;
  width:90%;
  display:block;
  margin:0 auto -100% ;
  position:relative;

  
  background:$hgyb_black;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

&.open{
	z-index:21000;
  opacity:1;
  visibility:visible;
  height:100%;

  
  .modal{
	//margin-top:-200px;
	opacity:1;
	margin:0;
	
	// ------------------------------ //
	
	.wpforms-container {
		width:100%;
		margin:0 0 20px;
		form {
			width:100%;
			.wpforms-field-container {
				
				width:100%;
				
	
				input[type="text"], input[type="email"] {
					border:0;
					background-color: transparent !important;
					color: #FFF !important;
					border-bottom:1px solid $hgyb_accent;

				}
				
				textarea {
					border:1px solid $hgyb_accent !important;
					background-color:transparent !important;
					color: #FFF !important;
					height:150px;
				}
				
				.wpforms-field-label {
						color: #FFF;
				}
				
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #FFF;
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: #FFF;
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: #FFF;
				}
				:-moz-placeholder { /* Firefox 18- */
				  color: #FFF;
				}
				
				.wpforms-error {
					color:rgb(241, 36, 36);
					padding:10px 5px;
				}
				
				/* -- WP Forms Select Fields -- */
				.select {
				 
				  
				  font-family: 'ITC Avant Garde Gothic Std Book' !important;
				  font-weight: normal;
				  font-style: normal;
				 
				  color: #FFF;
				  width:100% !important;
				  height:37px !important;
				  width:100% !important;
				  position:relative !important;
				  
					  
				  
					.select-hidden {
						display: none !important;
						visibility: hidden !important;
						padding-right: 10px;
					  }
				
					.select-styled {
						position:absolute !important;
						top:0;
						z-index:1;
						color:#FFF;
						border-bottom:1px solid $hgyb_accent !important;
						height:37px !important;
						width:100% !important;
						font-size:16px !important;
						  line-height:37px;
						  padding-left:10px;
						  @media only screen and (min-width:1200px) {
							  font-size:19px !important;
						  }
					}
					
					.select-options {
						display:none;
						position:absolute !important;
						top:0;
						left:0;
						width:100%;
						
						z-index:5000;
						background-color:rgba(65, 64, 66, 0.9)
						 !important;
						
						padding:20px 25px!important;
						
						&.active {
							display:block;
						}
						
						li {
							white-space: nowrap;
							background-color:$hgyb_black !important;
							font-size:16px !important;
							  line-height:24px;
							  color:#FFF;
							  @media only screen and (min-width:1200px) {
								  font-size:19px !important;
							  }
							  
							  &:hover {
								  color: $hgyb_accent;
							  }
							  &:first-child { Display:none;}
						}
					}
					  
				
				
				}
				/* -- WP Forms Select Fields -- */


				
				input[type="text"], input[type="email"], .wpforms-field-label, textarea {
					font-family: 'ITC Avant Garde Gothic Std Book';
					  font-weight: normal;
					  font-style: normal;
					  font-size:16px;
					  color: #FFF;
					  
					  
					  @media only screen and (min-width:1200px) {
						  font-size:19px;
					  }
				}
				
				.wpforms-field-label {
					padding-left:10px;
				}
				
				
			}
			
			.wpforms-submit-container {
				text-align:center;
				position:relative;
				height:90px;
				
				
				button {
					font-family: 'ITC Avant Garde Gothic Std Book';
				
					font-weight: normal;
					font-style: normal;
					@include hygb_button(transparent,$hgyb_accent,#FFF,$hgyb_accent,$hgyb_accent, $hgyb_main);
					font-size:18px;
					height:45px;
					width:210px;
				}
			}
		
		}
	}
	.wpforms-confirmation-container-full {
		background-color:transparent;
		border:0;
		margin:50px 0 50px;
		padding:0;
		color:#FFF;
		h2 {
			font-family: 'Gabriela';
			line-height:1.3;
			
			font-size:28px !important;
			  color:#FFF;
			  
			  @media only screen and (min-width:600px) {
					font-size:40px !important;
				}
			&:after {
				display:none;
			}
		}
		 font-family: 'ITC Avant Garde Gothic Std Book';
		 color:$hgyb_accent;
		 font-size:18px;
		 
	} 
	
	// ------------------------------- //
	
	
	
	
  }
}


.head{
	margin:0 0 0 auto;
  	width:42px;
  	height:42px;
  	padding:10px 10px 0;
  	overflow:hidden;
	  
	}
	
	.btn-close{
  		width:32px;
  		height:32px;
  		display:block;
  		float:right;
	
	
		&::before, &::after{
  		content:'';
  		width:32px;
  		height:3px;
  		display:block;
  		background:$hgyb_accent;
		}
		
		&::before{
  			margin-top:12px;
  			-webkit-transform:rotate(45deg);
  			-moz-transform:rotate(45deg);
  			-o-transform:rotate(45deg);
  			transform:rotate(45deg);
		}
		
		&::after{
  			margin-top:-3px;
  			-webkit-transform:rotate(-45deg);
  			-moz-transform:rotate(-45deg);
  			-o-transform:rotate(-45deg);
  			transform:rotate(-45deg);
		}
		
		&:hover {
			color:#FFF !important;
		}
	}
	.content{
  	padding:5% 20px;
	  
	  @media only screen and (min-width:600px) {
		  padding:0 50px;
	  }
	  
	 h2 {
		 padding:0 !important;
		 line-height:1;
			   margin:0 0 20px !important;
			   display:block;
		   font-family: 'Gabriela';
		   font-size:28px !important;
		   color:#FFF;
		   
		   @media only screen and (min-width:600px) {
				 font-size:40px !important;
			 }
		 &:after {
			 display:none;
		 }
	 }
	 p {
		 margin-top:10px;
		 font-family: 'ITC Avant Garde Gothic Std Book';
		 color:$hgyb_accent;
		 font-size:18px;
		 margin-bottom:10px;
	 }
	}
}


section.newsletterctoa {
	
	.wpforms-confirmation-container-full {
		background-color:transparent !important;
	}
}