

	.icongrid_3 {
  		
  	  	display: grid;
			  grid-gap: 60px 10px;
	  	grid-template-columns: repeat(1, 1fr);
		  margin:50px auto 0;
  	
  		@media only screen and (min-width:670px) {
	  		grid-template-columns: repeat(2,minmax(50px,410px));
			  grid-gap: 80px 20px;
  		}
		@media only screen and (min-width:1280px) {
			grid-template-columns: repeat(3,minmax(50px,410px));
			grid-gap: 100px 20px;
		}
  		
  	}
	
	.icongrid_2 {
		  margin:50px auto auto;
			display: grid;
		  grid-gap: 60px 10px;
		  grid-template-columns: repeat(1, 1fr);
	  
		  	@media only screen and (min-width:670px) {
			  	grid-template-columns: repeat(2,minmax(50px,680px));
				  grid-gap: 80px 20px;
		  	}
			@media only screen and (min-width:1280px) {
				
				grid-gap: 100px 20px;
			}
		 
	  }
	  
	  .icongrid_1 {
			margin:50px auto auto;
			  display: grid;
			grid-gap: 40px 10px;
			grid-template-columns: repeat(1, minmax(0, 420px));
			
			@media only screen and (min-width:670px) {
				  grid-gap: 80px 20px;
			  }
			@media only screen and (min-width:1280px) {
				grid-gap: 100px 20px;
			}

		}
	  
	 article.hgyb_iconcardbox {
	   border: 4px solid $hgyb_accent;
	   border-radius: 30px;
	   box-sizing: border-box;
	   padding: 20px 20px 90px;
	   text-align: center;
	   position: relative;
	   span {
		 background-color: #FFF;
		 display: block;
		 height: 4px;
		 position: absolute;
		 top: -4px; // Brings into line with top border thickness
		 left: 50%;
		 transform: translateX(-50%);
		 z-index: 1;
	   }
	   img {
		 position: relative;
		 z-index: 2;
		 height: 140px;
		 width: auto;
		 margin: -54px auto 0;
	   }
	   h2 {
		 color: $hgyb_black;
		 font-family: 'ITC Avant Garde Gothic Std Demi';
		 margin: 25px auto 15px;
		 &:after {
			 display:none !important;
		 }
	   }
	   p {
		 color: $hgyb_main;
		 margin: 0 auto 10px;
	   }
	   .button {
		   @include  hygb_button(transparent, $hgyb_accent, $hgyb_main, $hgyb_accent, $hgyb_accent, $hgyb_main );
		   bottom:30px;
		 
		 	&:hover {
				 bottom:38px;
			 }

	   }
	 }
	  
	  

