.linkgrid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: start;
  gap: 40px;
  width: 100%;
  max-width: 1100px;
  margin:0 auto;
  
  @media only screen and (min-width:500px) {
	  grid-template-columns: 1fr 1fr;
  }
  
 @media only screen and (min-width:900px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
  
  
  

  > * {
	background: rgba(10, 66, 106, 0.3);
	background-size:cover;
	background-position:center center; 
	background-repeat: no-repeat;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	
	

	a {
	  position: absolute;
	  display: block;
	  bottom: 20px;
	  left: 20px;
	  text-transform:uppercase;
	 
	  font-family: 'ITC Avant Garde Gothic Std Demi';
	  font-weight: normal;
	  font-style: normal;
	  text-decoration: none;
	 
	  color:#FFF;
	  font-size:18px;
	  position:absolute;
	  top:0;
	  bottom:0;
	  background: rgba(10, 66, 106, 0.1);
	  left:0;
	  right:0;
	  
	  div.title {
		  position: absolute;
		  bottom: 20px;
		  left: 20px;
		  max-width: 210px;
		  z-index: 100;
		  display: block;
		  span {
			display: block;
			&::before {
			  content: attr(data-text);
			}
		  }
		}
	  
		div.overlayexpand {
		  position: absolute;
		  z-index: 99;
		  top: 50%;
		  bottom: 50%;
		  left: 50%;
		  right: 50%;
		 background: rgba(10, 66, 106, 0.5);
		  transition: all 0.3s ease 0s;
		}
		
		&:hover {
			div.title {
				color:$hgyb_accent;
			}
			div.overlayexpand {
	  
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				
		  }
		}
	}

	&::before {
	
	  content: "";
	  display: inline-block;
	  width: 1px;
	  height: 0;
	  padding-top: calc(100% / (1 / 1));
	}
	
	
  }
}

