.mapsvg {
	width:100%;
	margin-bottom:40px;
	
	svg {
	  display: block;
	  width: 100%;
	  height: auto;
	}
	
	.loc {
	  fill: $hgyb_main;
	}

	.loc_active {
	  fill: rgba(238, 194, 51, 1);
	  stroke: rgba(238, 194, 51, 0.7);
	  stroke-width: 0.8px;
	  opacity: 0;
	  animation: 5.5s mappulse infinite;
	}
	@keyframes mappulse {
	  15% {
		opacity: 0;
	  }
	  35% {
		opacity: 1;
	  }
	  65% {
		opacity: 1;
	  }
	  85% {
		opacity: 0;
	  }
	}

}