

.modal-wrapper-newsletter{
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background:rgba(255,255,255,0.75);
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index:21000;
  
  backdrop-filter: blur(10px);


	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;


.modal{
  max-width:450px;
  width:90%;
  display:block;
  margin:0 auto -100% ;
  position:relative;

  
  background:$hgyb_black;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

&.open{
  opacity:1;
  visibility:visible;
  
  .modal{
	//margin-top:-200px;
	opacity:1;
	margin:0;
	
	// ------------------------------ //
	
	.wpforms-container {
		width:100%;
		margin-top:0;
		form {
			width:100%;
			.wpforms-field-container {
				
				width:100%;
				
	
				input[type="text"], input[type="email"] {
					border:0;
					background-color: transparent !important;
					color: #FFF !important;
					border-bottom:1px solid $hgyb_accent;

				}
				
				textarea {
					border:1px solid $hgyb_accent !important;
					background-color:transparent !important;
				color: #FFF !important;
				}
				
				.wpforms-field-label {
						color: #FFF;
						  text-transform:uppercase;
				}
				
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #FFF;
				  text-transform:uppercase;
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: #FFF;
				  text-transform:uppercase;
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: #FFF;
				  text-transform:uppercase;
				}
				:-moz-placeholder { /* Firefox 18- */
				  color: #FFF;
				  text-transform:uppercase;
				}
				
				.wpforms-error {
					color:rgb(241, 36, 36);
					padding:10px 5px;
				}
				
				// Select Field
				.choices__inner {
					
					background: none;
					border:0px;
					background-color:$hgyb_black !important;
					border-bottom:1px solid $hgyb_accent;
				}
				.choices, .choices__placeholder{
				 
				  opacity:1;
				}
				 
				.choices__list--dropdown .choices__item--selectable, .choices__list--dropdown .choices__item--selectable.is-highlighted {
					background-color: $hgyb_black !important;
					border-color:$hgyb_black !important;
					
				}
				
				.choices__list--dropdown {
					background-color: $hgyb_black !important;
					border-color:$hgyb_black !important;
				}
				button{
					display:none;
				}
				.choices__placeholder {
					text-transform:uppercase;
				}
				
				input[type="text"], input[type="email"], .choices__placeholder, .choices, .choices__item, .wpforms-field-label, textarea {
					font-family: 'ITC Avant Garde Gothic Std Book';
					  font-weight: normal;
					  font-style: normal;
					  font-size:16px;
					  color: #FFF;
					  
					  
					  @media only screen and (min-width:1200px) {
						  font-size:19px;
					  }
				}
				
				.wpforms-field-label {
					padding-left:10px;
				}
				
				
			}
			
			.wpforms-submit-container {
				text-align:center;
				position:relative;
				height:90px;
				
				
				button {
					font-family: 'ITC Avant Garde Gothic Std Book';
				
					font-weight: normal;
					font-style: normal;
					@include hygb_button(transparent,$hgyb_accent,#FFF,$hgyb_accent,$hgyb_accent, $hgyb_main);
					font-size:18px;
					height:45px;
					width:210px;
				}
			}
		
		}
	}
	.wpforms-confirmation-container-full {
		background-color:transparent;
		border:0;
		margin:0px 0;
		padding:0;
		color:#FFF;
		h2 {
			font-family: 'Gabriela';
			line-height:1.3;
			
			font-size:28px !important;
			  color:#FFF;
			  
			  @media only screen and (min-width:600px) {
					font-size:40px !important;
				}
			&:after {
				display:none;
			}
		}
		p {
			font-family: 'ITC Avant Garde Gothic Std Book';
			color:#FFF;
			font-size:18px;
			margin-bottom:10px;
		}
	} 
	
	// ------------------------------- //
	
	
	
	
  }
}


	.head{
		margin:0 0 0 auto;
	  width:42px;
	  height:42px;
	  padding:10px;
	  overflow:hidden;
	  
	}
	
	.btn-close{
		  width:32px;
		  height:32px;
		  display:block;
		  float:right;
	
	
		&::before, &::after{
		  content:'';
		  width:32px;
		  height:3px;
		  display:block;
		  background:$hgyb_accent;
		}
		
		&::before{
			  margin-top:12px;
			  -webkit-transform:rotate(45deg);
			  -moz-transform:rotate(45deg);
			  -o-transform:rotate(45deg);
			  transform:rotate(45deg);
		}
		
		&::after{
			  margin-top:-3px;
			  -webkit-transform:rotate(-45deg);
			  -moz-transform:rotate(-45deg);
			  -o-transform:rotate(-45deg);
			  transform:rotate(-45deg);
		}
		
		&:hover {
			color:#FFF;
		}
	}
	.content{
	  padding:5% 20px;
	  
	  @media only screen and (min-width:600px) {
		  padding:5% 50px;
	  }
	  h2 {
		  line-height:1.3;
		  margin:0 0 20px !important;
		  display:block;
	  font-family: 'Gabriela';
	  font-size:28px !important;
	  color:#FFF;
	  
	  @media only screen and (min-width:600px) {
			font-size:40px !important;
		}
	  
	  &:after {
		  display:none;
	  }
  	}
	  p {
		  margin:0 0 10px !important;
		  max-width:80%;
		  color:$hgyb_accent;
		  font-size:18px;
	  }
	}
}


.newsletterctoa {
	background-color:$hgyb_black;
	
	.wcp-column {
		
		
		p {
			text-align:center;
			color:#FFF;
			font-family: 'Gabriela';
			font-weight: normal;
			font-style: normal;
			line-height:1.4;
			font-size:16px;
			max-width:800px;
			margin:auto auto 40px;
			word-break: break-word;
			
			a {
				color:#FFF;
				text-decoration:none;
				
				
				&:hover, &:focus {
					color:$hgyb_accent;
				}
			}
			
			@media only screen and (min-width:400px) {
				font-size:18px;
				word-break: normal;
			}
			@media only screen and (min-width:600px) {
				font-size:22px;
			}
			@media only screen and (min-width:700px) {
				font-size:24px;
			}
			@media only screen and (min-width:1000px) {
				font-size:26px;
			}
		}
		.wpforms-container {
			width:100%;
			form {
				width:100%;
				.wpforms-field-container {
					margin:auto;
					width:100%;
					max-width:900px;
					display: grid;
					grid-template-columns: repeat(1, 1fr);
					grid-template-rows: repeat(3, minmax(0px,auto));
					gap: 0px 20px;
					grid-auto-flow: row;
					grid-template-areas: "intro" "yname" "yemail" ;
					
					
					@media only screen and (min-width:700px) {
						grid-template-columns: repeat(2, minmax(0px,auto));
						grid-template-rows: repeat(2, minmax(0px,auto));
						gap: 0px 20px;
						grid-template-areas: "intro intro" "yname yemail";
					}
					
					
					#wpforms-988-field_7-container { grid-area: intro; width:100%;
				
						text-align:center;
						
						h2 {
							font-family: 'Gabriela';
							line-height:1.3;
							
							font-size:28px !important;
							  color:$hgyb_accent;
							  margin-bottom:25px;
							  @media only screen and (min-width:600px) {
									font-size:40px !important;
								}
							&:after {
								display:none;
							}
						}
						p {
							font-family: 'ITC Avant Garde Gothic Std Book';
							color:#FFF;
							font-size:18px;
							margin:auto!important;
							width:100%;
							margin-bottom:25px!important;
							text-align: center!important;
						}
					}
					#wpforms-988-field_3-container { grid-area: yname; }
					#wpforms-988-field_1-container { grid-area: yemail; }

					input[type="text"], input[type="email"] {
						border:0 !important;
						background-color: transparent !important;
						color: $hgyb_accent !important;
						border-bottom:1px solid #FFF !important;
						
						
					}
					
					::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: #FFF;
					}
					::-moz-placeholder { /* Firefox 19+ */
					  color: #FFF;
					}
					:-ms-input-placeholder { /* IE 10+ */
					  color: #FFF;
					}
					:-moz-placeholder { /* Firefox 18- */
					  color: #FFF;
					}
					
					.wpforms-error {
						color:rgb(241, 36, 36);
						padding:10px 5px;
					}
					
					// Select Field
					.choices__inner {
						
						background: none;
						border:0px;
						background-color:$hgyb_main !important;
						border-bottom:1px solid #FFF;
					}
					.choices, .choices__placeholder{
					 
					  opacity:1;
					}
					 
					.choices__list--dropdown .choices__item--selectable, .choices__list--dropdown .choices__item--selectable.is-highlighted {
						background-color: $hgyb_main !important;
						border-color:$hgyb_main !important;
					}
					
					.choices__list--dropdown {
						background-color: $hgyb_main !important;
						border-color:$hgyb_main !important;
					}
					button{
						display:none;
					}
					
					
					input[type="text"], input[type="email"], .choices__placeholder, .choices, .choices__item {
						font-family: 'ITC Avant Garde Gothic Std Book';
						  font-weight: normal;
						  font-style: normal;
						  font-size:16px;
						  color: #FFF;
						  
						  @media only screen and (min-width:1200px) {
							  font-size:19px;
						  }
					}
					
					
					
					
				}
				
				.wpforms-submit-container {
					text-align:center;
					position:relative;
					height:90px;
					
					
					button {
						font-family: 'ITC Avant Garde Gothic Std Book';
					
						font-weight: normal;
						font-style: normal;
						@include hygb_button(transparent,$hgyb_accent,#FFF,$hgyb_accent,$hgyb_accent, $hgyb_main);
						font-size:18px;
						height:45px;
						width:210px;
					}
				}
			
			}
		}
		
		
	}
	
	.wpforms-confirmation-container-full {
		background:$hgyb_black;
		border:0;
		text-align: center;
		color:$hgyb_accent;
		
		h2 {
			font-family: 'Gabriela';
			line-height:1.3;
			
			font-size:28px !important;
			  color:$hgyb_accent;
			  margin-bottom:45px;
			  @media only screen and (min-width:600px) {
					font-size:40px !important;
				}
			&:after {
				display:none;
			}
		}
		p {
			font-family: 'ITC Avant Garde Gothic Std Book';
			color:#FFF;
			font-size:18px;
			margin:auto!important;
			width:100%;
			margin-bottom:10px!important;
			text-align: center!important;
		}
	}
}