.quotes_grid {
	h1 {
		color:#FFF;
	}
	

	 

	   article.quotesblock {
		   box-sizing: border-box;
		   background-color: $hgyb_black;
		   color: #fff;
		   padding: 16px 0px 0;
		   text-align: center;
		   position: relative;
		   margin: auto 20px;
		  
	 
		   hr {
			 border-color: $hgyb_accent;
	 
			 position: relative;
			 overflow: visible;
	 
			 &:before {
			   position: absolute;
			   left: 50%;
			   transform: translateX(-50%);
			   display: block;
			   content: " ";
			   width: 58px;
			   height: 33px;
			   display: block;
			 }
			 &.top {
				 
			   margin: 30px auto 30px;
	 
			   &:before {
				 top: -30px;
				 background: $hgyb_black url("https://assets.codepen.io/320472/qt-top.svg")
				   no-repeat center center;
			   }
			 }
			 &.bottom {
			   margin: 30px auto 53px;
	 
			   &:before {
				 top: -1px;
				 background: $hgyb_black
				   url("https://assets.codepen.io/320472/qt-bottom.svg") no-repeat
				   center center;
			   }
			 }
		   }
	 	  
		   .content {
			   height:250px;
			   display:flex;
			   flex-direction: column;
			   justify-content: center;
			   height:330px;

			   @media only screen and (min-width:1300px) {
				   height:300px;
			   }
			   @media only screen and (min-width:1400px) {
					  height:250px;
				  }
		   }
		   
		   h3 {
			 margin: 0;
		   }
		   p {
			 margin: 0;
	 		color:#FFF;
			
			 &.qtby {
			   margin: 0;
			   font-size:15px;
			   color:$hgyb_accent;
			   
			   span {
				   display:block;
			   }
			 }
		   }

	   }


 }


