.quotes_grid {
	h1 {
		color:#FFF;
	}
.quotation{
  margin-top:60px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap:60px 30px;
  
  @media only screen and (min-width:1000px) {
	  gap:50px;
  }
  @media only screen and (min-width:1100px) {
		gap:90px;
	}
	@media only screen and (min-width:1400px) {
		gap:120px;
	}
  
 	
	 

	   article {
		   box-sizing: border-box;
		   background-color: $hgyb_black;
		   color: #fff;
		   padding: 16px 0px 0;
		   text-align: center;
		   position: relative;
		   margin: auto;
	 
		   hr {
			 border-color: $hgyb_accent;
	 
			 position: relative;
			 overflow: visible;
	 
			 &:before {
			   position: absolute;
			   left: 50%;
			   transform: translateX(-50%);
			   display: block;
			   content: " ";
			   width: 58px;
			   height: 33px;
			   display: block;
			 }
			 &.top {
			   margin: 0px auto 30px;
	 
			   &:before {
				 top: -32px;
				 background: $hgyb_black url("https://assets.codepen.io/320472/qt-top.svg")
				   no-repeat center center;
			   }
			 }
			 &.bottom {
			   margin: 30px auto 53px;
	 
			   &:before {
				 top: -1px;
				 background: $hgyb_black
				   url("https://assets.codepen.io/320472/qt-bottom.svg") no-repeat
				   center center;
			   }
			 }
		   }
	 
		   h3 {
			 margin: 0;
		   }
		   p {
			 margin: 0;
	 color:#FFF;
			 &.qtby {
			   margin: 0;
			   font-size:15px;
			   color:$hgyb_accent;
			 }
		   }

	   }


 }
}

