.servicesctoa {
	background-color:$hgyb_black;
	
	.wcp-column {
		background-color:$hgyb_main;
		
		.wpforms-container {
			width:100%;
			form {
				width:100%;
				.wpforms-field-container {
					
					width:100%;
					
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					grid-template-rows: 1fr;
					gap: 0px 20px;
					grid-auto-flow: row;
					grid-template-areas: "how yname yemail yel";
					
					
					#wpforms-90-field_5-container { grid-area: how; }
					
					#wpforms-90-field_3-container { grid-area: yname; }
					
					#wpforms-90-field_1-container { grid-area: yemail; }
					
					#wpforms-90-field_4-container { grid-area: yel; }

					input[type="text"], input[type="email"] {
						border:0;
						background-color: transparent;
						color: $hgyb_accent;;
						border-bottom:1px solid #FFF;
					}
					
					::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: #FFF;
					}
					::-moz-placeholder { /* Firefox 19+ */
					  color: #FFF;
					}
					:-ms-input-placeholder { /* IE 10+ */
					  color: #FFF;
					}
					:-moz-placeholder { /* Firefox 18- */
					  color: #FFF;
					}
					
					// Select Field
					.choices__inner {
						background: none;
						border:0px;
						background-color:$hgyb_main !important;
						border-bottom:1px solid #FFF;
					}
					.choices__list--dropdown {
						border:0px;
					}
					.choices{
					  font-size: 16px;
					  color: #FFF;
					  opacity:1;
					}
					.choices__placeholder {
					  font-size: 16px;
					  color: #FFF;
					  opacity:1;
					}
					.choices__list--dropdown .choices__item--selectable, .choices__list--dropdown .choices__item--selectable.is-highlighted {
						background-color: $hgyb_main !important;
						border-color:$hgyb_main !important;
					}
					button{
						display:none;
					}
					
				}
			
			}
		}
		
		
	}
}