.textblock, .textandimageblock, .custom_block, .iconcards_grid  {
	
	
	&.hgybblack {
		background-color: $hgyb_black;
		
		h1, h2, h3 {
		  color:#FFF;
			  &:after {
					border-top: 1px solid $hgyb_accent;
			  }
		}
		
		p, li {
			color:#FFF;
			
			strong {
				color:$hgyb_accent;
			}
			
			a { color:$hgyb_accent;
				&:hover {
					color:#FFF;
				}
			}
		}
		
		blockquote {
			background: $hgyb_accent;
			
			p { color:$hgyb_main;
				
				i {
					
				}
			}
		}
	}
	&.hgybaccent{
		
		h1, h2, h3 {
		  
			  &:after {
					border-top: 1px solid #FFF;
			  }
		}
		
		p, li {
			//color:#FFF;
			
			strong {
				color:$hgyb_main;
			}
			
			a { color:$hgyb_black;
				text-decoration:underline;
				&:hover {
					color:$hgyb_main;
				}
			}
		}
		
		blockquote {
			background: $hgyb_main;
			
			p { color:$hgyb_accent;}
		}
	}
	&.hgybblue{
		h1, h2, h3 {
		  color:#FFF;
		  	&:after {
					border-top: 1px solid $hgyb_accent;
		  	}
		}
		
		p, li {
			color:#FFF;
			
			strong {
				color:$hgyb_accent;
			}
			
			a { color:$hgyb_accent;
				&:hover {
					color:#FFF;
				}
			}
		}
		
		blockquote {
			background: $hgyb_accent;
			
			p { color:#FFF;
				font-size:18px;
				
				
				
				i {
					color:$hgyb_main !important;
					margin-bottom:10px;
				}
			}
		}
	}
	
	
	
}


.custom_block {
	.wcp-columns {
		margin-top:60px;

		@media only screen and (min-width:800px) {
			grid-template-columns: 1fr 1fr; 
			grid-template-rows: minmax(10px auto); 
			gap: 0px 30px; 
		}
		
		&:first-child {
		
			margin-top:0px;
		}
	}
}