@font-face {
	font-family: 'Arial';
	src: url('assets/fonts/Arial-Black.eot');
	src: url('assets/fonts/Arial-Black.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Arial-Black.woff2') format('woff2'),
		url('assets/fonts/Arial-Black.woff') format('woff'),
		url('assets/fonts/Arial-Black.ttf') format('truetype'),
		url('assets/fonts/Arial-Black.svg#Arial-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Disintegration';
	src: url('assets/fonts/Disintegration.eot');
	src: url('assets/fonts/Disintegration.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Disintegration.woff2') format('woff2'),
		url('assets/fonts/Disintegration.woff') format('woff'),
		url('assets/fonts/Disintegration.ttf') format('truetype'),
		url('assets/fonts/Disintegration.svg#Disintegration') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gabriela';
	src: url('assets/fonts/Gabriela-Regular.eot');
	src: url('assets/fonts/Gabriela-Regular.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/Gabriela-Regular.woff2') format('woff2'),
		url('assets/fonts/Gabriela-Regular.woff') format('woff'),
		url('assets/fonts/Gabriela-Regular.ttf') format('truetype'),
		url('assets/fonts/Gabriela-Regular.svg#Gabriela-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ITC Avant Garde Std Md';
	src: url('assets/fonts/ITCAvantGardeStd-Bold.eot');
	src: url('assets/fonts/ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('assets/fonts/ITCAvantGardeStd-Bold.woff2') format('woff2'),
		url('assets/fonts/ITCAvantGardeStd-Bold.woff') format('woff'),
		url('assets/fonts/ITCAvantGardeStd-Bold.ttf') format('truetype'),
		url('assets/fonts/ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

