@import '_global';

/* Admin Fixes For Dashboard */
body.admin-bar #branding-wrap{top: 28px;} 
body.admin-bar #wrapper{margin-top: 145px;}
body.logged-in .wrap.woocomerce .mainform {margin-top: 145px;}

// Make the edit screen full width
.wp-block { padding:0 50px; max-width:none;  }
 
@import '_global';

    @import '_design_styles/fonts';  
    @import '_design_styles/base';     
    @import '_design_styles/animated';     
    @import '_page_structure/header';      
    @import '_page_structure/footer';  
   @import '_customs_partials/paritals'; 
   
   @import '_customs_partials/form';
    @import '_customs_partials/quotations';
    @import '_customs_partials/iconcards';
     @import '_customs_partials/servicestable';
     @import '_customs_partials/headerblock';
  @import '_customs_partials/hexcalltoaction';
    @import '_customs_partials/servicescalltoactions';
 @import '_customs_partials/textblock';
    
     
.fade-in {
  opacity: 0;
  transform: translateY(100px);
  opacity: 1;
  transform: none;
  visibility: visible;
}

#tinymce {
  padding-top:0 !important;
}

.acf-block-preview{
    border-top: 1px solid red;
    border-bottom:1px solid green;
  }
